.selected {
	-webkit-box-shadow: 0 0 40px orange; 
	-moz-box-shadow: 0 0 40px orange;
	box-shadow: 0 0 40px orange;
	-webkit-box-shadow: inset 0 0 40px orange; 
	-moz-box-shadow: inset 0 0 40px orange;
	box-shadow: inset 0 0 40px orange;
}

.options {
	-webkit-box-shadow: inset 0 0 30px blue; 
	-moz-box-shadow: inset 0 0 30px blue;  
	box-shadow: inset 0 0 30px blue;
	-webkit-box-shadow: 0 0 30px blue; 
	-moz-box-shadow: 0 0 30px blue;  
	box-shadow: 0 0 30px blue;
}

#symba_navigation li{
	list-style: none;
}

#symba_navigation {
	background-color: rgba(216,216,216,0.5);
	width: 95px;
	height: 500px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	display: inline-block;
	vertical-align: top;
	margin-top: 60px;
	position: fixed;
}

#symba_navigation ul{
	padding: 10px 15px;
}

#symba-page-content {
	display: inline-block;
	margin-left: 95px;
}
