.parent {
	-webkit-box-shadow: 0 0 20px rgb(20, 250, 20), inset 0 0 30px rgb(20, 250, 20) !important;
	-moz-box-shadow: 0 0 20px rgb(20, 250, 20), inset 0 0 30px rgb(20, 250, 20) !important;
	box-shadow: 0 0 20px rgb(20, 250, 20), inset 0 0 30px rgb(20, 250, 20) !important;
	
}

.parent td {
	background-color:rgba(20, 250, 20, 0.2);
}

.selected {
	z-webkit-box-shadow: 0 0 30px orange, inset 0 0 30px orange !important;
	-moz-box-shadow: 0 0 30px orange, inset 0 0 30px orange !important;
	box-shadow: 0 0 30px orange, inset 0 0 30px orange !important;
	background-color:rgba(255, 245, 0, 0.1);
}

.selected td {
	background-color:rgba(255, 245, 0, 0.2);
}

.options {
	-webkit-box-shadow: 0 0 25px blue, inset 0 0 30px blue !important;
	-moz-box-shadow: 0 0 25px blue, inset 0 0 30px blue !important;
	box-shadow: 0 0 25px blue, inset 0 0 30px blue !important;
}

.options td {
	background-color:rgba(0, 0, 255, 0.2);
}

#symba-navigation li{
	list-style: none !important;
	padding:8px 0px !important;
	width:34px !important;
	height:34px !important;
	margin:0 !important;
	background:none !important;
	border: none !important;
}

#symba-navigation li input{
	width:34px !important;
	height:34px !important;
	padding:0px 0px !important;
	margin:1px 1px !important;
	background: none !important;
	border: none !important;
}

#symba-navigation {
	background-color: rgba(233,106,78,0.8);
	width: 68px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	vertical-align: top;
	margin-top: 60px;
	position: fixed;
	z-index:100000000;
}

#symba-navigation ul{
	margin:0 !important;
	padding: 10px 15px !important;
}
