.selected {
	-webkit-box-shadow:0 0 20px yellow; 
	-moz-box-shadow: 0 0 20px yellow;
	box-shadow:0 0 20px yellow;
}

.options {
	-webkit-box-shadow:0 0 10px blue; 
	-moz-box-shadow: 0 0 10px blue;  
	box-shadow:0 0 10px blue;
}
